body{
    font-family: Arial;
    padding: 20px;
    background: #f4f4f4;
}

h1,h2{
    color: #333;
}

table{
    width: 100%;
    background: white;
}

a{
    text-decoration: none;
    padding: 8px 12px;
    background: blue;
    color: white;
}